<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>secureretail.terminal</string>
	<key>navigationBarTint</key>
	<string>#1B0A40</string>
	<key>navigationBarTextColor</key>
	<string>#FFFFFF</string>
	<key>backgroundColor</key>
	<string>#FFFFFF</string>
	<key>terminalFamily</key>
	<string>Miura</string>
	<key>printerFamily</key>
	<string>Sewoo</string>
	<key>featureSummaryPrintReceipt</key>
	<false/>
	<key>featureSummaryRefund</key>
	<true/>
	<key>featureSummarySendReceipt</key>
	<true/>
</dict>
</plist>
